*
{
	margin: 0;
	padding: 0;
}

h1{
	font-family: sans-serif;
	text-align: center;
	margin-top: 150px;
	font-size: 150px;
	font-weight: 800;
	color: transparent;
	background-image: 
	url(https://media.giphy.com/media/3ov9k5IFtz0jWFvm2k/giphy.gif);
    background-position: center;
    -webkit-background-clip:text;
}